* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #141518; 
   font-family: 'Courier New', Courier, m sans-serif;
  color: #e4e6eb; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}
.homes {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.homes button {
  background:white;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}

.homes a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
}
h1 {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 50px;
  text-align: center;
  color: #ffffff;
}

.cart-list {
  width: 480px;
  display: flex;
  flex-direction: column;
  gap: 2px;
 
}

.cart-item {
  background: #1f2128;
  border: 1px solid #2c2f38;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: background 0.2s;
  position: relative;
}

.cart-item:hover {
  background: #292b33; 
}

.cart-item img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 14px;
  background: #17191f;
  border: 1px solid #2c2f38;
}

.cart-item .title {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.cart-item .price {
  font-size: 20px;
  font-weight: 700;
  color: #4fd1c5; 
}

 

.cart-item .quantity {
  font-size: 15px;
  color: #b0b3b8;
 font-weight: bold;
}

 
.cart-total {
  margin-top: 35px;
  width: 480px;
  background: #1f2128;
  padding: 20px 25px;
  border-radius: 20px;
  border: 1px solid #2c2f38;
  text-align: right;
  font-size: 24px;
  font-weight: 800;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
}
.qty{
  width: 80px;
  height:40px;
  border-radius: 7px;
  background-color:black;
  color: white;
  font-size: 1rem;
}
.plus,.minus{
  width: 50px;
  height: 40px;
  cursor: pointer;
  color: white;
  background-color:#ea580c;
  font-size: 1.2rem;
  font-weight: bold;
}
.remove{
  background-color:white;
  font-weight: bold;
  color:black;
  padding:10px 20px;
  font-size: 1rem;
  border: 1px solid black;
  position: absolute;
  top: 30px;
  right: 30px;
  border-radius: 10px;
  letter-spacing: 1px;
}
.btnRmv{
  background-color:white;
  font-weight: bold;
  color:black;
  padding:10px 25px;
  font-size: 1rem;
  border: 1px solid black;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 10px;
  letter-spacing: 1px;
  position:fixed;
}
@media (max-width: 500px) {
  .cart-list,
  .cart-total {
    width: 100%;
  }
  .qty{
    width: 50px;
    height: 30px;
  }
  .plus,.minus{
    width:35px;
    height: 30px;
  }
  .cart-total{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
  }
  .btnRmv{
    padding: 10px;
    
    font-size: 0.8rem;
    
  }
 
}
