 /* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY – SAVRŠEN CENTAR, SMIRENO */
body {
  min-height: 100vh;
  display: grid;
  place-items: center;
   background: #111827;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: #111827;
}

h1{
 
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 28px;
  text-align: center;
  color: white;
  letter-spacing: 5px;
}
/* NASLOV */
h2 {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 28px;
  text-align: center;
}

/* FORMA – GLAVNI CARD */
form {
  width: 100%;
  max-width: 420px;
  background: #ffffff;
  padding: 36px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  border: 1px solid #e5e7eb;
 
}

/* INPUTI – ČISTI I PRECIZNI */
input {
  height: 48px;
  padding: 0 14px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  background: #ffffff;
  transition: border-color 0.2s ease;
}

input::placeholder {
  color: #9ca3af;
}

input:focus {
  outline: none;
  border-color: #111827;
}

/* DUGME – JAKO, JASNO */
button {
  height: 50px;
  margin-top: 10px;
  background: #111827;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s ease;
}

button:hover {
  background: #000000;
}

/* PORUKA */
#msg {
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #dc2626;
}

/* REGISTER TEKST */
p {
  margin-top: 22px;
  text-align: center;
  font-size: 14px;
  color: grey;
}

p a {
  margin-left: 6px;
  color: white;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

p a:hover {
  border-bottom-color: #111827;
}

/* RESPONSIVE */
@media (max-width: 480px) {
  form {
    padding: 28px 22px;
  }

  h1 {
    font-size: 28px;
  }
}
